In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer
import re
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from string import punctuation
from nltk import pos_tag
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer
from sklearn import metrics
from sklearn import preprocessing
from sklearn import feature_extraction
from sklearn import linear_model
from sklearn import svm
from sklearn import neighbors

In [2]:
news = pd.read_csv('vesti.csv')

In [3]:
news.head()

,Unnamed: 0,tekst,kategorija
0,36290,shall overcomb say 100000 march trump londonth...,WOMEN
1,21194,bone didnt teach glamour taught respectoftenti...,HEALTHY LIVING
2,29672,im sorrythe two tragically forgotten word cust...,BUSINESS
3,199048,divorce ruin life child blame youit sunday nig...,DIVORCE
4,193783,well sit civilian flea theaterthe civilian ent...,DIVORCE

In [4]:
X_train, X_test, y_train, y_test = train_test_split(news['tekst'], news['kategorija'], test_size = 0.2, stratify = news['kategorija'], random_state = 7)